<mat-sidenav-container class="app-sidenav-container"
                      [class.dark-theme]="isDarkTheme" [dir]="dir">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall"
               [mode]="isScreenSmall ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Blog
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let post of posts | async">
        <a matLine [routerLink]="['/postdetail', post.id]">
          {{ post.title }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>

