<mat-toolbar color="primary">
  <span>{{post.title}}</span>
  <span class="example-spacer"></span>
  <a [routerLink]="['/guestbook']">
    Guest book
  </a>
</mat-toolbar>

<div class="content">
  <mat-card>
      <p>{{post.body}}</p>
  </mat-card>
  <br>
  <mat-card>
    <h1>Comments</h1>
    <div>
      <mat-form-field appearance="fill">
        <textarea matInput [formControl]="message" required></textarea>
        <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
        <button mat-button (click)="addNewComment()">Add comment</button>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let comment of comments$ | async">
        <p matLine class="demo-2"> {{comment.message}} </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>


