<form [formGroup]="messageForm" (submit)="submit()">
<h2 mat-dialog-title>Add</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" required>
      <mat-error *ngIf="messageForm.controls.author.errors">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message" required></textarea>
      <mat-error *ngIf="messageForm.controls.message.errors">{{getErrorMessageMessage()}}</mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" type="submit">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>
</form>
